{% extends "base.html" %}
{% block body %}
<main role="main" class="container">
  <h1>Admin</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Link</th>
        <th scope="col">Type</th>
        <th scope="col">Reporter</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      {% if report[0].status == 0 %}
      <tr>
        <th scope="row">{{ report[0].id }}</th>
        <td>{{ report.content }}</td>
        <td>
          {{ report.title }}
        </td>
        <td>
          {{ report.username }}
        </td>
        <td>
          <form class="checkreport" method="POST">
            <input hidden value="{{ report[0].id }}" name="id_report"></input>
            {{ form.csrf_token }}
            <button class="btn btn-sm btn-primary btn-block" type="submit" name="submit" value="approve">Approve</button>
          </form>
          <form class="checkreport" method="POST">
            <input hidden value="{{ report[0].id }}" name="id_report"></input>
            {{ form.csrf_token }}
            <button class="btn btn-sm btn-danger btn-block" type="submit" name="submit" value="reject">Reject</button>
          </form>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}