{% extends "base.html" %}
{% block body %}
<main role="main" class="container">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column my-3 p-3 bg-white rounded shadow-sm text-center">
                    <img class="rounded-circle mx-auto" src="{{ url_for('static', filename=user.avatar)}}" alt=""
                        width="64" height="64">
                    <strong class="p-2 text-muted"
                        href="{{ url_for('users.profile', username=user.username)}}">@{{ user.username }}</strong>
                    <a class="p-2 text-dark" href="#">{{ user.name }}</a>
                    {% if user.username!=guser.username %}
                    <div>
                        {% if follow.status == 0 %}
                        <a class="btn btn-outline-primary btn-follow" href="#">Wait</a>
                        {% endif %}
                        {% if follow.status == 1 %}
                        <a class="btn btn-outline-primary btn-follow" href="#">Followed</a>
                        {% endif %}
                        {% if follow == None %}
                        <a class="btn btn-outline-primary btn-follow"
                            href="{{ url_for('users.follow', username=user.username) }}">Follow</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% if user.username==guser.username %}
                <div class="d-flex flex-column my-10 px-2 pb-4 bg-white rounded shadow-sm text-center">
                    <h5 class="mb-5">Follow Requests</h5>
                    {% if list_username_follow %}
                    {% for i in list_username_follow %}
                    <div class="{{list_username_follow[i].username}} d-flex flex-row mb-2 justify-content-between">
                        <div class="text-left col-6">{{ list_username_follow[i].name }}
                            @{{ list_username_follow[i].username }}</div>
                        <div class="{{ list_username_follow[i].username }}-approve col-6 d-flex flex-row justify-content-end">
                            <a class="btn-sm mr-2 btn-primary btn-approve"
                                href="{{ url_for('users.confirm_follow', username=list_username_follow[i].username) }}">Approve</a>
                            <a class="{{ list_username_follow[i].username }}-reject btn-sm btn-danger" href="#">Reject</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-8">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Recent links</h6>
                    {% for post in posts %}
                    <div class="media text-muted pt-3">
                        <img class="rounded-circle mr-2" src="{{ url_for('static', filename=user.avatar)}}" alt=""
                            style="height: 32px;">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <span class="d-block text-gray-dark"><strong>{{ user.name }}</strong><span>&nbsp;@{{ user.username }}</span></span>
                            {% if checkreport[post.id] != None %}
                                <span style="color: red;">Post Spam</span>
                            {% elif post.isPrivate == 1 and post.user_id != guser.id and follow.status != 1 %}
                                <span style="color: yellowgreen;">Post Private<span>
                            {% else %}
                                {{ post.content }}
                            {% endif %}
                        </p>
                        <small class="ml-2">
                            <a href="#" class="btn-like" id="{{ post.id }}">{{ liked[post.id] }} Likes</a>
                            <br>
                            <a href="{{ url_for('users.report', post_id=post.id)}}" class="text-muted">Report</a>
                        </small>
                    </div>
                    {% endfor %}
                    <small class="d-block text-center mt-3">
                        <strong>The End</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Like -->
<script>
    window.onload = () => {
        $('.btn-like').click(e => {
            e.preventDefault();
            $.ajax({
                url: `/users/like/${e.target.id}`,
                success: function (result) {
                    $(e.target).html(result);
                }
            });
        });
        $('.btn-follow').click(e => {
            e.preventDefault();
            $.ajax({
                url: `/users/follow/{{ user.username }}`,
                success: function (result) {
                    $(e.target).html(result);
                }
            });
        });
        {% if list_username_follow %}
        {% for i in list_username_follow %}
        $('.{{ list_username_follow[i].username }}-approve').click(e => {
            e.preventDefault();
            $.ajax({
                
                url: `/users/follow/{{ list_username_follow[i].username }}/approve`,
                success: function (result) {
                    alert('Chấp nhận kết bạn thành công');
                    $('.{{list_username_follow[i].username}}').remove();
                }
                
            });
        });
        $('.{{ list_username_follow[i].username }}-reject').click(e => {
            e.preventDefault();
            $.ajax({
                
                url: `/users/follow/{{ list_username_follow[i].username }}/reject`,
                success: function (result) {
                    alert('Đã bỏ thành công');
                    $('.{{list_username_follow[i].username}}').remove();
                }
                
            });
        });
        {% endfor %}
        {% endif %}
    }
</script>
{% endblock %}