{% extends "base.html" %}
{% block navbar %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Cyber Links</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <img class="rounded-circle" src="{{ url_for('static', filename=guser.avatar)}}" alt="" style="height: 32px;">
    <a class="p-2 text-dark" href="{{ url_for('users.profile', username=guser.username)}}">{{ guser.username }}</a>
  </nav>
  <a class="btn btn-outline-primary" href="{{ url_for('users.logout')}}">Sign out</a>
</div>
{% endblock %}
{% block body %}
<main role="main" class="container">
  <div class="jumbotron">
    <h3>Do you want to report?</h3>
    <blockquote class="blockquote">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Nguyen Anh Tien <cite title="Source Title">@vigov5</cite></footer>
    </blockquote>
    <h4 class="mb-3">Report</h4>
    <form method="post">
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="broken" name="report" type="radio" value=1 class="custom-control-input" checked required>
          <label class="custom-control-label" for="broken">Broken Link</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="content" name="report" type="radio" value=2 class="custom-control-input" required>
          <label class="custom-control-label" for="content">Inappropriate Content</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="report" type="radio" value=3 class="custom-control-input" required>
          <label class="custom-control-label" for="paypal">Spam</label>
        </div>
      </div>
      {{ form.csrf_token }}
      <button class="btn btn-lg btn-warning" href="#" type="submit" role="button">Report</button>
    </form>
  </div>
</main>
{% endblock %}