{% extends "base.html" %}
{% block body %}
<form class="form-signin" method="post">
  <img class="mb-4" src="https://appdata.chatwork.com/icon/1524/1524467.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" name="inputEmail" placeholder="Email address"
    value="{{ request.form.username }}" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"
    value="{{ request.form.password }}" required>
  <input type="hidden" name="csrf" value="{{ csrf }}">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
  <p class="mt-5 mb-3 text-muted">Sun* R&D &copy; 1970-2019</p>
</form>
{% endblock %}