{% extends "base.html" %}
{% block body %}
<form class="form-signin" method="POST">
  <img class="mb-4" src="https://appdata.chatwork.com/icon/1524/1524467.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputName" class="sr-only">Name</label>
  <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
  <label for="inputUser" class="sr-only">Username</label>
  <input name="username" type="text"" id="inputUser" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <label for="inputPassword" class="sr-only">Confirm Password</label>
  <input name="repassword" type="password" id="inputPassword" class="form-control" placeholder="Confirm Password"
    required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <p class="mt-5 mb-3 text-muted">Sun* R&D &copy; 1970-2019</p>
</form>
{% endblock %}